@font-face {
  font-family: acnh-font;
  src: url("./content/font.otf");
}

@font-face {
  font-family: acnh-font-2;
  src: url("./content/font-2.otf");
}

body {
  background-image: url("./content/background.png");
  background-size: auto;
}

#timezone-wrapper {
  display: flex;
  justify-content: center;
}

#bubble-checkbox {
  display: flex;
  font-family: acnh-font-2;
  color: #86be9b;
  font-size: 15px;
}

#bubble-container {
  max-width: 350px;
  min-width: 150px;
  min-height: 250px;
  background-color: #fafcf6;
  border: #86be9b solid 10px;
  margin-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  filter: drop-shadow(1px 1px 5px black)
}

#bubble-text {
  width: 100%;
  font-size: 250%;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #86be9b
}

#navbar-time-container {
  display: flex;
  align-items: center;
}

#navbar-time {
  font-family: acnh-font-2;
  color: #86be9b;
  background-color: #fafcf6;
  border: #86be9b solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.text {
  font-family: acnh-font;
}

.text-2 {
  font-family: acnh-font-2;
}

#select-box{
  color: #86be9b;
  width: 90%;
  font-family: acnh-font-2;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: #86be9b solid 2px;
  background-color: white;
  outline: none;
}
option {
  color: #86be9b;
  font-family: acnh-font-2;
  margin: 100px;
}

#bubble-input {
  color: #86be9b;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: #86be9b solid 2px;
  background-color: white;
  font-family: acnh-font-2;
}

#bubble-input:hover {
  color: white;
  background-color: #86be9b;
}





#wrapper {
  width: 100%;
  height: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#navbar-container {
  width: 95%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-container-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: #fafcf6;
  border: #86be9b solid;
  border-radius: 10px;
}

.navbar-input-container {
  position: relative;
  text-align: center;
  width: 60px;
  height: 45px;
  border-radius: 20px;
  background-color: #fafcf6;
  border: #86be9b solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-input-container img {
  max-height: 50%;
}

.navbar-input-container div {
  color: #86be9b;
}

#what-the-catch-container {
  min-width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}

.what-the-catch-container-page {
  width: 550px;
  height: 100%;
  background-color: #fafcf6;
  border: solid #86be9b;
  border-radius: 20px;
  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
}


.what-the-catch-container-page > div:first-of-type{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: acnh-font;
  color: #86be9b;
}

.what-the-catch-container-page > div:first-of-type > div:first-of-type {
line-height: 100%
}

.what-the-catch-scroll-container::-webkit-scrollbar {
  display: none;
}

.what-the-catch-scroll-container {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  display: flex;

  align-items: center;
  flex-direction: column;
}

.what-the-catch-scroll {

  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: solid #86be9b;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #86be9b;
}

.what-the-catch-scroll img {
  height: 50%;
}

.what-the-catch-scroll div {
  font-family: acnh-font-2;
  font-size: 100%;
}

.scroll {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#test {
  background-color: rgba(0, 0, 0, 0.438);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

@media (max-width: 500px) {
  .what-the-catch-container-page {
    width:400px;
  }
  #wrapper {
    height: 85vh;
  }

  .what-the-catch-container-page > div:first-of-type{
    height: 10%;
  }

  .scroll {
    font-size: 90%;
  }
}