@font-face {
  font-family: acnh-font;
  src: url("./content/font.otf");
}

@font-face {
  font-family: acnh-font-2;
  src: url("./content/font-2.otf");
}

body {
  background-image: url("./content/background.png");
  background-size: auto;
}

#timezone-wrapper {
  display: flex;
  justify-content: center;
}

#bubble-container {
  max-width: 350px;
  min-width: 150px;
  min-height: 250px;
  background-color: #fafcf6;
  border: #86be9b solid 10px;
  margin-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  filter: drop-shadow(1px 1px 5px black)
}

#bubble-text {
  width: 100%;
  font-size: 250%;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-family: acnh-font;
  color: #86be9b
}

#select-box{
  color: #86be9b;
  width: 90%;
  font-family: acnh-font-2;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: #86be9b solid 2px;
  background-color: white;
}
option {
  color: #86be9b;
  font-family: acnh-font-2;
  margin: 100px;

}

#bubble-input {
  color: #86be9b;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: #86be9b solid 2px;
  background-color: white;
  font-family: acnh-font-2;

}
