@font-face {
  font-family: acnh-font;
  src: url("./content/font.otf");
}

@font-face {
  font-family: acnh-font-2;
  src: url("./content/font-2.otf");
}

body {
  background-image: url("./content/background.png");
  background-size: auto;
}

#timezone-wrapper {
  display: flex;
  justify-content: center;
}

#bubble-container {
  max-width: 350px;
  min-width: 150px;
  min-height: 250px;
  background-color: #fafcf6;
  border: #86be9b solid 10px;
  margin-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  filter: drop-shadow(1px 1px 5px black)
}

#bubble-text {
  width: 100%;
  font-size: 250%;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #86be9b
}

.text {
  font-family: acnh-font;
}

.text-2 {
  font-family: acnh-font-2;
}

#select-box{
  color: #86be9b;
  width: 90%;
  font-family: acnh-font-2;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: #86be9b solid 2px;
  background-color: white;
  outline: none;
}
option {
  color: #86be9b;
  font-family: acnh-font-2;
  margin: 100px;
}

#bubble-input {
  color: #86be9b;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: #86be9b solid 2px;
  background-color: white;
  font-family: acnh-font-2;
}

#bubble-input:hover {
  color: white;
  background-color: #86be9b;
}





#wrapper {
  width: 100%;
  height: 100vh;
}

#navbar-container {
  min-width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-input-container {
  position: relative;
  text-align: center;
  width: 10%;
  height: 45px;
  border-radius: 20px;
  background-color: #fafcf6;
  border: #86be9b solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-input-container img {
  margin-left: 10px;
  max-height: 50%;
}

.navbar-input-container div {
  color: #86be9b
}

#what-the-catch-container {
  min-width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}

.what-the-catch-container-page {
  width: 30%;
  height: 100%;
  background-color: white;
  border: solid 1px black;
}

.what-the-catch-container-page > div:first-of-type{
  background-color: green;
  height: 10%;
}


@media (max-width: 500px) {
  #what-the-catch-container {
    min-height: 75%;
  }
  #navbar-container {
    justify-content: space-around;
  }
  .navbar-input-container {
    width: 23%
  }

  .navbar-input-container img {
    margin-left: 0px;
  }
}